@(company: models.Company)

<!DOCTYPE html>

<html>
<head>
    <title>A Company</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>

    <ul>
    <li>@company.getName()</li>
    <li>Address : @company.getAddress()</li>
    <li><a href="@routes.Post.showPostByCompany(company.getId())">all posts</a></li>
    <p></p>
    </ul>

    </body>
</html>
