@(posts: List[Post])

<!DOCTYPE html>

<html>
<head>
    <title>All posts</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>

    <ul>
        @for(post <- posts) {
            <li><a href="@routes.Application.showPost(post.getId())">@post.getTitle()</a></li>
            <li>@post.getDate()</li>
            <p></p>
        }
    </ul>

    </body>
</html>
